@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e2e2e2;
  font-family: 'Open Sans', sans-serif;
}

.box {
  background: #fff;
  width: 500px;
  height: 360px;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
}

.box__circles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.box-circle {
  position: absolute;
  border-radius: 50%;
}

.box-circle-1 {
  width: 70px;
  height: 70px;
  bottom: 40%;
  left: -40%;

  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}

.box-circle-2 {
  width: 120px;
  height: 120px;
  top: -20%;
  left: 5%;
  background-color: #d4418e;
  background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
}

.box-circle-3 {
  width: 150px;
  height: 150px;
  top: -10%;
  left: -37%;
  background-color: #f9484a;
  background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
}

.box-circle-4 {
  width: 180px;
  height: 180px;
  top: 4%;
  left: -18%;
  background-color: #fff000;
  background-image: linear-gradient(-315deg, #fff000 0%, #ed008c 74%);
}

.box__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  color: #414141;
  padding: 40px;
}

.form {
  padding: 0px 20px;
  flex: 1;
}

.form__row {
  display: flex;
  flex-flow: column;
  list-style: none;
  position: relative;
}

.form__row:nth-of-type(1) {
  margin-bottom: 30px;
}

.form__row label,
.form__row input {
  color: #858585;
  font-size: 13px;
  font-weight: 300;
  padding: 15px 20px;
}

.form__row label {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  text-transform: uppercase;
}

.form__row input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form__row:hover label,
.form__row input:focus~label,
.form__row input:valid~label {
  transform: translateY(-25px);
  color: #ff5722;
}

.form__row:hover input,
.form__row input:focus,
.form__row input:valid {
  border-bottom-color: #ff5722;
  color: #673ab7;
}

.form__forgotLink {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  color: #858585;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

.form__forgotLink:hover {
  color: #3f3f3f;
}

.form__btns {
  display: flex;
}

.form__btn {
  flex: 1;
  border: none;
  outline: none;
  height: 60px;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
}

.form__btn--register {
  background: #673ab7;
  border-bottom-left-radius: 5px;
}

.form__btn--register:hover {
  background: #472485;
}

.form__btn--signIn {
  background: #ff5722;
  border-bottom-right-radius: 5px;
}

.form__btn--signIn:hover {
  background: #bb3b14;
}